<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Form</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div th:replace="/layout::nav">
</div>
<p>
  <a th:href="@{/category}">Back to list category</a>
</p>

<form th:action="@{/category/update}" method="post" th:object="${category}">

  <input hidden th:field="*{id}" th:value="*{id}"><br>

  <label>Name  : </label>
  <input th:field="*{name}" th:value="*{name}"><br>

  <button type="submit">Save</button>
</form>
</body>
</html>