<!DOCTYPE html>
<html lang="en"><html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Form</title>
</head>
<body>
<h3>EDIT FORM</h3>
<p>
  <a th:href="@{/}">back to list product</a>
</p>

<form th:action="@{/update}" th:object="${product}" method="post">

  <input th:field="*{id}" th:value="*{id}" type="hidden">

  <label>Name</label>
  <input th:field="*{name}" th:value="*{name}"><br>

  <label>price</label>
  <input th:field="*{price}" th:value="*{price}"><br>

  <label>description</label>
  <input th:field="*{description}" th:value="*{description}"><br>

  <label>brand</label>
  <input th:field="*{brand}" th:value="*{brand}"><br>

  <button type="submit">Update</button>

</form>
</body>
</html>